@import '../layout/variables.scss';

.product-link {
    
    & .product {
        height: 100%;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            padding-block-end: 1em;
            max-width: min-content;
            justify-content: space-between;

    & .procuct-title {
        text-wrap: pretty;
    }

     & img {
        justify-self: start;
            max-width: 300px;
        }
    
       & .tags {
            display: flex;
            flex-direction: row;
            gap: 0.2 * $spacer;
    
           & .tag {
                display: inline-block;
                background-color: $colorDark;
                color: $colorWhite;
                padding-block: .2 * $spacer;
                padding-inline: $spacer;
                border-radius: .4 * $spacer;
            }
        }
    }


}
